<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Earthquakes Monitor{% endblock %}</title>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
            <link rel="stylesheet", href="{{ asset('css/navBar.css') }}">
            <link rel="stylesheet", href="{{ asset('css/mapCanvas.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body {% if regionID is defined %} onload="regionID = {{ regionID }}" {% endif %}>


    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <a class="navbar-brand" href="/">
            <img class="img-brand" src="{{ asset('images/iconmonstr-globe-5-240.png') }}" width="25" height="25" alt="">
            Earthquakes Monitor
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item {% if regionID is defined and regionID == -1 %}active{% endif %}">
                    <a class="nav-link" href="/">World</a>
                </li>
                <li class="nav-item {% if regionID is defined and regionID == 0 %}active{% endif %}">
                    <a class="nav-link" href="{{ path('region_show', {'name': 'eu'}) }}">Europe</a>
                </li>
                <li class="nav-item {% if regionID is defined and regionID == 1 %}active{% endif %}">
                    <a class="nav-link" href="{{ path('region_show', {'name': 'asia'}) }}">Asia</a>
                </li>
                <li class="nav-item {% if regionID is defined and regionID == 2 %}active{% endif %}">
                    <a class="nav-link" href="{{ path('region_show', {'name': 'na'}) }}">North America</a>
                </li>
                <li class="nav-item {% if regionID is defined and regionID == 3 %}active{% endif %}">
                    <a class="nav-link" href="{{ path('region_show', {'name': 'sa'}) }}">South America</a>
                </li>
                <li class="nav-item {% if regionID is defined and regionID == 4 %}active{% endif %}">
                    <a class="nav-link" href="{{ path('region_show', {'name': 'africa'}) }}">Africa</a>
                </li>
                <li class="nav-item {% if regionID is defined and regionID == 5 %}active{% endif %}">
                    <a class="nav-link" href="{{ path('region_show', {'name': 'au'}) }}">Australia</a>
                </li>
            </ul>

            {% if app.user %}
                <form class="form-inline">
                    <a class="btn btn-primary btn btn-outline-primary" href="#" role="button">{{ app.user }}'s profile</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary btn btn-outline-warning" href="{{ path("admin") }}" role="button">Admin panel</a>
                    {% endif %}
                    <a class="btn btn-primary btn btn-outline-danger" href="{{ path("fos_user_security_logout") }}" role="button">Log out</a>
                </form>

            {% else %}
                <form class="form-inline">
                    <a class="btn btn-primary btn-outline-primary" href="{{ path("fos_user_security_login") }}" role="button">Log in</a>
                    <a class="btn btn-primary btn btn-outline-secondary" href="{{ path("fos_user_registration_register") }}" role="button">Sign in</a>
                </form>

            {% endif %}

        </div>
    </nav>





        <div class="container">


            {% block javascripts %}{% endblock %}

            {% block body %}{% endblock %}

        </div><!-- /.container -->



    </body>
</html>
