{% extends 'base.html.twig' %}


{% block body %}


    <div class="mapCanvas">
        {% block sketchScripts %}
            <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js"></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/addons/p5.dom.js"></script>
            <script src="js/sketch.js"></script>

        {%  endblock sketchScripts %}

        <div id="sketch-holder">

        </div>
    </div>


    <link rel="stylesheet", href="{{ asset('css/posts.css') }}">

    <hr/>
    <div class="col-xs-12" style="height:35px;"></div>

    <h1 class="text-center post-title-bar">Earthquakes news from {{ regionName }}</h1>

    <div class="col-xs-12" style="height:25px;"></div>
    <hr/>
    {% for post in posts %}
        <div style="height: 10px;"></div>
        <div class="postFrame">

            <div class="titleFrame">
                <h2><a class="titleLink" href="{{ path('post_show', {'id': post.id}) }}"> {{ post.title }}</a></h2>
            </div>

            <div style="height: 20px;"></div>

            <div class="thumbnailFrame">
                {% if post.image %}
                <img class="thumbnail" src="/images/posts/{{ post.image }}"/>
                {% endif %}
                <article><p class="postContentMain">{{ post.content }}</p></article>
                <div type="text/css" style="clear: both; height: 20px;"></div>
                <div style="height:1px; background-color: #bbbbbb; margin-bottom: 15px;"></div>
                <font size = 2>
                    <p>Added: {{ post.createdAt }}</p>
                    <p style="color: #0d6aad">Comments: {{ post.comments|length }}</p>
                </font>
            </div>
            <div type="text/css" style="clear: both"></div>



        </div>
        <div style="height: 40px;"></div>
    {% endfor %}


    <div class="navigation row align-items-center justify-content-center">
        {{ knp_pagination_render(posts) }}
    </div>





{% endblock body %}