{% extends 'base.html.twig' %}


{% block body %}
    <link rel="stylesheet", href="{{ asset('css/post.css') }}">

    <h1>{{ post.title }}</h1>

  <div>
      <font size=2 color = gray>
          <p> Added: {{ post.createdAt }}</p>
      </font>

      {% if post.image %}
      <div class="imageFrame">
        <img class="postImage" src="/images/posts/{{ post.image }}"/>
      </div>
      {% endif %}

      <div class="col-xs-12" style="height:30px;"></div>
      <article><p> {{ post.fullContent }} </p></article>


          <hr/>

      <div class="col-xs-12" style="height:30px;"></div>
      <h3>Comments</h3>

      {% if app.user %}

          {{ form_start(form) }}

            {{ form_widget(form) }}

            <button class="btn btn-primary pull-right">Add comment</button>

          {{ form_end(form) }}

          <div class="col-xs-12" style="height:50px;"></div>

      {% else %}
         <div class="col-xs-12" style="height:30px;"></div>
         <p class="text-center">Users must be logged in to comment.<a href="{{ path('fos_user_security_login') }}"> Log in</a></p>
         <div class="col-xs-12" style="height:30px;"></div>
      {% endif %}

      <style type="text/css">
          p {margin-bottom: 0.1em;  margin-top: 0em;}
      </style>

      {% for comment in post.comments|reverse %}

          <div class="commentFrame">
              <p>{{ comment.content }}</p>
              <div style="height:1px; background-color: #bbbbbb; margin-bottom: 15px; margin-top: 5px;"></div>
              <font size=2 color="gray">
                  <p> From: {{ comment.user }}</p>
                  <p> Added: {{ comment.createdAt }}</p>
              </font>

          </div>
          <br/>

      {% endfor %}


  </div>




{% endblock body %}